/* ============================== General */

body {
  background-color: #e6ecf0;
}

.btn:hover {
  cursor: pointer;
}


/* ============================== Nav */

.navbar {
  background-color: #fff;
  height: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  position: relative;
}

.navbar a {
  color: #66757f;
  text-decoration: none;
}
  
.navbar a:hover {
  color: #1c94e0;
}
  
.navbar-brand {
  display: flex;
  align-items: center;
}
  
ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

/* ============================== Search */

.fa-brands, .fa-solid{
  margin-right: 0.3rem
}

.fa-accessible-icon {
  color: rgba(34, 34, 255, 0.85);
}

.fa-transgender {
  color: rgba(145, 0, 212, 0.85);
}

.fa-baby {
  color: rgba(134, 192, 0, 0.85);
}

#search-button {
  margin: 10px 0 20px;
}

/* ============================== Map */

#map {
  position: relative; 
  top: 0; 
  bottom: 0; 
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 100%;
  max-width: none;
  box-shadow: none;
  margin-bottom: 5px;
}

.marker {
  display: block;
  color: #fff;
  background-color: #FF5733;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

.popup-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.popup-address {
  margin: 0;
}



/* Show map and list results side by side on larger screens */

@media (min-width: 768px){
  #results-list {
    max-height: 500px;
    overflow: auto;
    padding-right: 0;
    border-radius: 20px 0px 0px 20px;
  }

  #map.split-screen {
    border-radius: 0px 20px 20px 0px;
  }
}

@media (min-height: 950px) {
  #results-list {
    max-height: 725px;
  }
  #map.split-screen {
    height: 725px !important;
  }
}

/* ============================== Saved Searches */

#searches-list a{
  text-decoration: none;
}