<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restroom Finder</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/bbda3af127.js" crossorigin="anonymous"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
    <link rel='stylesheet'href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css'/>
  </head>


  <body>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css"/>
    
    <!-- Nav bar -->
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            <span>Restroom Finder</span>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">

          <!-- Search -->
          <li class="nav-item">
            <a class="nav-link" id="search-link" href="/search">Search</a>
          </li>

          <!-- No User Logged in -->
          {% if not g.user %}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          
          {% else %}

          <!-- User Logged in -->
          <li class="nav-item">
            <a class="nav-link" href="/users/{{ g.user.id }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      
      <!-- Flashed Messages -->
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}

      <!-- Flex Content -->
      {% block content %}
      {% endblock %}
      
    </div>

    <!-- Scripts -->
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>