{% extends 'base.html' %}
{% block content %}

 <div class="landing-container">
  <br>
  <br>
  <br>
  <div class="col-lg text-center mt-5">
    <h1 class="nav-brand display-1">
      <i class="fa-solid fa-toilet"></i>
      FLUSHER</h1>
    <br>
    <h5>Where to go when you're on the go.</h5>
    <br>
    <br>
    <a href="/search" class="btn btn-success mb-3 p-2" style="width: 400px">Search
    </a>
    <div class="row">
      <div class="col">
        <a href="/signup" class="btn btn-light m-2 p-2" style="width: 190px">Sign up</a>
        <a href="/login" class="btn btn-light m-2 p-2" style="width: 190px">Log in</a>
      </div>
    </div>
    <div class="fixed-bottom" style="height: 80px">
      <p>DEMO LOGIN - Username: DemoUser | Password: password</p>
    </div>
  </div>
</div>
{% endblock %}