{% extends 'base.html' %}
{% block content %}

 <div class="container">
  <div class="col-lg text-center mt-5">
    <h1>Flusher</h1>
    <br>
    <a href="/search" class="btn btn-outline-dark" style="width: 400px">Search
    </a>
    <div class="row">
      <div class="col">
        <a href="/signup" class="btn btn-outline-dark m-2" style="width: 190px">Sign up</a>
        <a href="/login" class="btn btn-outline-dark m-2" style="width: 190px">Log in</a>
      </div>
    </div>
    <div class="fixed-bottom" style="height: 80px">
      <p>DEMO LOGIN - Username: DemoUser | Password: password</p>
    </div>
  </div>
</div>
{% endblock %}