{% extends 'base.html' %}

{% block content %}

<h1>Search Page</h1>
<div id="search-container" class="col mt-3 px-0">

    <!-- Search Form -->
    <div id="search-form">
        <div class="form-group">
            <div class="geocoder-container"></div>
        </div>
        <div class="form-group">
            <form>
                <input name="q" class="form-control" placeholder="Find a Restroom">

                <!-- Search Filters -->
                <div>
                    <input class="form-check-input" type="checkbox" id="accessible"/>
                    <label class="form-check-label" for="accessible">Accessible</label>
                </div>
                <div>
                    <input class="form-check-input" type="checkbox" id="unisex"/>
                    <label class="form-check-label" for="unisex">Unisex</label>
                </div>
                <div>
                    <input class="form-check-input" type="checkbox" id="changing-table"/>
                    <label class="form-check-label" for="changing-table">Changing Table</label>
                </div>

                <!-- Search button -->
                <button class="btn btn-primary" id="search-button">
                    <span class="fa fa-search"></span>
                    Search
                </button>
            </form>
        </div>
    </div>

    <!-- Search Results -->
    <div id="results-container">

        <!-- Results List -->
        <div id="list-container" class="col pr-md-0">
            <ul id="results-list" class="list-group"></ul>
        </div>

        <!-- Results Map -->
        <div id="map-container" class="col col-12">
            <div id="map"></div>
        </div>

    </div>



</div>

{% endblock %}