{% extends 'base.html' %}

{% block content %}

<h1>Find a Restroom</h1>
<div id="search-container" class="col mt-3 px-0">

    <!-- Search Form -->
    <div id="search-form">
        <!-- Saved searches -->

        <!-- Geocoder -->
        <div class="form-group" id="geocoder-container">
            <div id="geocoder" class="geocoder"></div>
        </div>

        <!-- Search Filters -->
        <div class="row">
            <div class="col form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="accessible"/>
                    <label class="form-check-label" for="accessible"><i title="Accessible" class="fa-brands fa-accessible-icon ml-2"></i>Accessible</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="unisex"/>
                    <label class="form-check-label" for="unisex"><i title="Unisex/Gender Neutral" class="fa-solid fa-transgender"></i>Unisex</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="changing-table"/>
                    <label class="form-check-label" for="changing-table"><i title="Changing Table" class="fa-solid fa-baby"></i>Changing Table</label>
                </div>
            </div>
        </div>

        <!-- Search buttons -->
        <button class="btn btn-primary" id="search-button">
            <span class="fa-solid fa-magnifying-glass"></span>
            Search
        </button>
        <button class="btn btn-primary" id="use-location">
            <span class="fa-solid fa-location-pin"></span>
            Search by Current Location
        </button>
    </div>


    <!-- Search Results -->
    <div id="results-container">

        <!-- Results List -->
        <div id="list-container" class="col pr-md-0">
            <ul id="results-list" class="list-group"></ul>
        </div>

        <!-- Results Map -->
        <div id="map-container" class="col col-12">
            <div id="map"></div>
            <script> mapboxgl.accessToken = '{{ mapboxToken }}'</script>
        </div>

    </div>



</div>

{% endblock %}