{% extends 'base.html' %}

{% block content %}

<div class="container-md">
    <div class="mb-3">
        <h1>Hi, {{ user.username }}</h1>
    </div>

    <!-- Edit profile -->
    <div class="row">
        <div class="col-auto">
            <a href="/users/{{ user.id }}/edit" class="btn btn-secondary px-4">Edit Profile</a>
        </div>
        <div class="col-auto">
            <form method="POST" action="/users/{{ user.id }}/delete" class="form-inline">
                <button class="btn btn-outline-danger px-4">Delete Profile</button>
            </form>
        </div>
    </div>
    <br>
    <br>

    <!-- Saved Searches -->
    <h3>Saved Searches</h3>
    {% if g.user.searches %}
        <div id="searches-list" class="list-group my-3">
        {% for search in g.user.searches %}
        <div class="list-group-item d-flex align-items-center justify-content-between">
            <span class="retrieve-search" data-search-id="{{ search.id }}">
            {{ search.name }}
            </span>
            <div>
                <!-- Edit search-->
                <a href="/search/{{ search.id }}/edit" id="saved-search-edit" class="text-dark">
                    <i title="Edit Saved Search" class="fa-solid fa-pencil"></i>
                </a>
                <!-- Delete search -->
                <a method="POST" href="/search/{{ search.id }}/delete"  id="saved-search-delete" class="text-dark">
                    <i title="Delete Saved Search" class="fa-solid fa-x"></i>
                </a>
                
            </div>
        </div>
        {% endfor %}
    {% else %}
    <p>You haven't saved any searches yet!</p>
    {% endif %}

</div>

{% endblock %}