{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-center">
  <div class="col-md-7 col-lg-5">
    <h1>Create an account</h1>
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control my-3") }}
      {% endfor %}

      <button class="btn btn-dark btn-block px-4">Let's go!</button>
    </form>
    <br>
    <br>
    <div>
      <p>Already have an account?
        <a href="/login">Log in here</a>
      </p>
    </div>

    <div class="fixed-bottom text-center" style="height: 80px">
      <p>DEMO LOGIN - Username: DemoUser | Password: password</p>
    </div>
  </div>
</div>

{% endblock %}